body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #E76ABB;
}

.foot{
    background-color: #cfe5db;
    width: auto;
    height: 2rem;
    margin: auto;
    text-align: center;
}
